@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:ital@0;1&display=swap');

/*Mobile/ Desktop Media*/

.DT_ONLY{
  display: block;
 }
 
 @media screen and (max-width: 1200px) {
   .DT_ONLY{
    display: none;
  }
 }

.mediaQHaft{
  width: 50%;
 }
 
 @media screen and (max-width: 1200px) {
   .mediaQHaft{
    width: 100%;
  }
 }

 .mediaQFlexRow{
display: flex;
flex-direction: row;
 }
 
 @media screen and (max-width: 1200px) {
  .mediaQFlexRow{
    display: flex;
    flex-direction: column;
  }
 }

 .mediaQFlexRow2{
  display: flex;
  flex-direction: row-reverse;
   }
   
   @media screen and (max-width: 1200px) {
    .mediaQFlexRow2{
      display: flex;
      flex-direction: column;
    }
   }

 html {
  scroll-behavior: smooth;
}

*{
  color: #2f2e41;
  font-family: Poppins;
  overflow-x: hidden;
  user-select: none;

}

*::selection {
  background-color: #ff68844a;
}

.containerGen{
  margin-top: 36vh;
}


@layer components{

  
    .Poppins{
      font-family: Poppins;
    }

    .Comfortaa{
      font-family: Comfortaa;
    }

    /*Font Size*/
.header{
  @apply text-5xl
}

 @media screen and (max-width: 1200px) {
   .header{
    @apply text-3xl
  }
 }


    .NavbarIcon{
        @apply relative flex items-center justify-center 
        h-12 w-12 mt-2 mb-2 mx-auto  
      bg-[#e6e6e6] 
        hover:rounded-lg rounded-3xl
        transition-all duration-200 ease-linear
        cursor-pointer 
    }

    .NavbarIcon-ToolTip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-sm shadow-md
        text-rose-50 bg-slate-400  
        text-xs
        transition-all duration-100 scale-0 origin-left
        
      }

      
}

::-webkit-scrollbar {
  @apply bg-transparent w-[1.5vw]
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2f2e41;
    border-radius: 1000px;
    border: 0.25vw solid white;
  }

  /*Background Images*/

  .polyBlue{
    background-image: url(polyBlue.png);
  }

  .polyPink{
    background-image: url(polyPink.png);
  }

  .frosted{
      background-color: rgba(255, 255, 255, 0.7);  
      backdrop-filter: blur(7px);
  }

  .pinkPeaks{
    background-image: url(layered-peaks-haikei.png);
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 100vh;
    border-top-right-radius: 100vh;
    padding-top: 2rem;
    backdrop-filter: blur(7px);
    }